<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cqtguniversity.lqms.mapper.AttachedFileMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.cqtguniversity.lqms.entity.AttachedFile">
		<id column="id" property="id" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="gmt_modified" property="gmtModified" />
		<result column="file_no" property="fileNo" />
		<result column="uploaded_by" property="uploadedBy" />
		<result column="file_type" property="fileType" />
		<result column="file_name" property="fileName" />
		<result column="file_path" property="filePath" />
		<result column="file_extension" property="fileExtension" />
	</resultMap>

</mapper>
