<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cqtguniversity.lqms.mapper.ComplaintAcceptMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.cqtguniversity.lqms.entity.ComplaintAccept">
		<id column="id" property="id" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="gmt_modified" property="gmtModified" />
		<result column="complain_id" property="complainId" />
		<result column="acceptor_by" property="acceptorBy" />
		<result column="processing_advice" property="processingAdvice" />
		<result column="processing_content" property="processingContent" />
		<result column="is_deleted" property="isDeleted" />
	</resultMap>

</mapper>
