<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cqtguniversity.lqms.mapper.DeviceMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.cqtguniversity.lqms.entity.Device">
		<id column="id" property="id" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="gmt_modified" property="gmtModified" />
		<result column="device_name" property="deviceName" />
		<result column="laboratory" property="laboratory" />
		<result column="device_type" property="deviceType" />
		<result column="device_status" property="deviceStatus" />
		<result column="is_online" property="isOnline" />
		<result column="is_deleted" property="isDeleted" />
	</resultMap>

</mapper>
