<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cqtguniversity.lqms.mapper.UserNodeMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.cqtguniversity.lqms.entity.UserNode">
		<id column="id" property="id" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="gmt_modified" property="gmtModified" />
		<result column="user_id" property="userId" />
		<result column="info_id" property="infoId" />
		<result column="role_id" property="roleId" />
		<result column="department_id" property="departmentId" />
	</resultMap>

	<select id="selectByUserId" resultMap="BaseResultMap">
		select id, gmt_created, gmt_modified, user_id, info_id, role_id, department_id
		from user_node
		where user_id = #{userId};
	</select>

</mapper>
